<br>
<div class="animated fadeIn m-5">
  <h1>Servicios: <small>Listado</small></h1>
  <hr>
</div>
<!-- tabla  -->
<div class="container">

  <form class="item1">
    <div class="form-row">
      <div class="form-group col-md-6 ">
        <label>Fecha desde</label>
        <input type="date" name="bday1" [(ngModel)]="fechaDesde1" #date1
         max="3000-12-31" min="1000-01-01" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Fecha hasta</label>
        <input type="date" name="bday2" [(ngModel)]="fechaHasta1" #date2
        max="3000-12-31" min="1000-01-01" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Empleado</label>
        <input name="username" [(ngModel)]="printEmpName" class="form-control" id="inputAddress" disabled>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
          Buscar...
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Empleados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <br>
                <!-- para mostar los empleados-->

                <table class="table table-hover table-sm">
                  <thead>
                    <tr class="table-info">
                      <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                      </th>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre y Apellido</th>
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emp of empleados; let i = index">
                      <th scope="row"><input (click)="setIdEmp(emp.idPersona); setNameEmp(emp.nombreCompleto)"
                          type="radio" id="defaultCheck"  name="example2"></th>
                      <td>{{ emp.idPersona }}</td>
                      <td>{{ emp.nombreCompleto }}</td>
  
                    </tr>
  
                  </tbody>
                </table>
  
                <br>
              </div>
              <div class="modal-footer">
                <button (click)="printNameEmpleado()"
                class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
                



      <div class="form-group col-md-6">
        <label for="inputAddress2">Cliente</label>
        <input name="nameClient" [(ngModel)]=" printNameCli" class="form-control" id="inputAddress2" disabled>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
          Buscar...
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="col-md-6 float-right">
                  <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                  <div class="input-group">
                      <input  #nombreCliente 
                      type="name" class="form-control"  id="inlineFormInputGroupUsername" placeholder="Ingrese nombre...">
                    <div class="input-group-prepend">
                      <div (click)="buscarCliente(nombreCliente.value)" 
                      class="btn btn-success"><i class="fa fa-search"></i></div>
                    </div>
                    
                  </div>
                </div><br><br>


            <!-- para buscar cliente por nombre  -->
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class=" tableFixHead table table-hover table-sm animated fadeIn fast faster  animated fadeIn faster">
              <thead>
                <tr class="table-info">
                  <th scope="col">#</th>
                  <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                  </th>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre y Apellido</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cli of clientes ; let i = index">
                  <th scope="row">{{ i+1 }}</th>
                  <th><input (click)="setIdCli(cli.idPersona); setNombreCli(cli.nombreCompleto)"
                      type="radio" id="defaultCheck" name="example2"></th>
                  <td>{{ cli.idPersona }}</td>
                  <td>{{ cli.nombreCompleto }}</td>

                </tr>

              </tbody>
            </table>
            <div *ngIf="clientes.length === 0"
              class="alert alert-warning text-center mt-3 animated fadeIn faster">
              <h4 class="alert-heading">No hay registros</h4>
              <p>
                <i class="fa fa-exclamation fa-2x"></i>
              </p>

            </div>
          </div>

            
            
            <div class="modal-footer">
              <!-- 3er div-->
              <button (click)="printNameCliselect()"
              class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
            </div><!-- 3er div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










      
   

    <div class="col text-right">
      <button (click)="buscar(date1.value, date2.value)"
      class="save_button btn btn-success mr-1">
        <i class="fa fa-search"></i> Buscar

      </button>

      <button  (click)="limpiarPantalla()"
      class="save_button btn btn-warning mr-1">
        <i class="fa fa-broom"></i> Limpiar

      </button>

    </div>






  </form>



  <br>
  <div style="overflow-x:auto;">
  <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
    <thead class="table-primary">
      <tr>
          <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">ID Ficha</th>
        <th scope="col">Fecha Ficha</th>
        <th scope="col">Profesional</th>
        <th scope="col">Cliente</th>
        <th scope="col">Categoria</th>
        <th scope="col">Subcategoría</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servicio of servicios | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
        <th scope="row">{{ i+ 1 }}</th>
        <th>{{ servicio.fechaHora | date:'longDate'}}</th>
        <th>{{ servicio.idFichaClinica.idFichaClinica }}</th>
        <td>{{ servicio.idFichaClinica.fechaHora | date:'longDate' }}</td>
        <td>{{ servicio.idEmpleado.nombreCompleto }}</td>
        <td>{{ servicio.idFichaClinica.idCliente.nombreCompleto }}</td>
        <td>{{ servicio.idFichaClinica.idTipoProducto.idCategoria.descripcion }}</td>
        <td>{{ servicio.idFichaClinica.idTipoProducto.descripcion }}</td>
        <td class="text-center">
            <button  routerLink="/crear-modificar-servicio"
            class="btn btn-outline-info mr-1">
            <i class="fas fa-eye"></i>
              </button>

              <button  routerLink="/crear-modificar-servicio"
            class="btn btn-outline-warning">
            <i class="fas fa-pen"></i>
              </button>
        </td>
       
      </tr>
    </tbody>
  </table>

  <div *ngIf="!cargando && servicios.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    
</div>
  
  <div *ngIf="cargando"
 class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>

</div>
  <br>
  <div class="text-right">
      <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div><br>
  <div class="col text-right">
    <button routerLink="/servicios/crear-modificar-servicio" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar servicio
    </button>
  </div>

  <br><br>
</div>

