<br>
<div class="animated fadeIn m-5">
  <h1>Empleado: <small>Horario de atencion</small></h1>
  <hr>
</div>

<div class="container">
  <form class="item1">
    <!--- busqueda de clientes-->
    <div class="col-md-6">
        <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group">
            <input  #nombreCliente
            type="name" class="form-control" id="inlineFormInputGroupUsername" placeholder="Ingrese dia de la semana...">
          <div class="input-group-prepend">
            <div 
            class="btn btn-outline-primary"><i class="fa fa-search"></i></div>
          </div>
          <div class="input-group-prepend">
              <div 
              class="btn btn-outline-secondary"><i class="fa fa-sync-alt"></i></div>
            </div>
        </div>
      </div>
      <br>
      
      <!-- agregar clientes -->
     
        <button (click)="peticion=true" type="button" class="save_button btn btn-success float-right" data-toggle="modal" data-target=".bd-example-modal-lg">
            <i class="fa fa-plus"></i> Agregar
          </button>
          
          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualizar horario de atencion</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <table class="table table-bordered">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Datos horario de atencion</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td>
                                  <div class="container">
                                    <div class="item1">
                                        <br>

                                        <form>
                                          <div class="row">
                                            
                                            <div class="col">
                                          
                                                
                                              
                                                <label class="col-form-label col-form-label-sm">Dias: </label>
                                                <select id="inputState" class="form-control form-control-sm">
                                                    <option selected value="0">Domingo</option>
                                                  <option value="1">Lunes</option>
                                                  <option value="2">Martes</option>
                                                  <option value="3">Miercoles</option>
                                                  <option value="4">Jueves</option>
                                                  <option value="5">Viernes</option>
                                                  <option value="6">Sabado</option>
                                                </select><br>

                                              <label class="col-form-label col-form-label-sm">Hora apertura:</label>
                                              <input name="ruc" type="text" 
                                              class="form-control form-control-sm" placeholder=""><br>
                                              <label class="col-form-label col-form-label-sm">Hora cierre:</label>
                                              <input name="ruc" type="text" 
                                              class="form-control form-control-sm" placeholder=""><br>

                                              
                                              
                                              
                                            
 
                                            </div>
                                            <div class="col">
                                                <label class="col-form-label col-form-label-sm">Tipo producto: </label>
                                                <select id="inputState" class="form-control form-control-sm">
                                                  <option selected>Open this select menu</option>
                                                  <option value="1">One</option>
                                                  <option value="2">Two</option>
                                                  <option value="3">Three</option>
                                                </select><br>
                                                <label class="col-form-label col-form-label-sm">Minutos:</label>
                                              <input name="ruc" type="text" 
                                              class="form-control form-control-sm" placeholder=""><br>




                                          
                                      
                                            </div>
                                            
                                          </div>
                                        </form>

                                        <br><br>








                                        

                                    </div>

                                  </div>
                                </td>

                              </tr>
                          </tbody>
                    </table>
                  </div>
                </div>
                  
                        
                      
                    

                  
                </div>
                <div class="modal-footer">
                  <button 
                  type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                  <button 
                  type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                </div>
              </div>
            </div>
          </div>


     <br>

       
        <br>
        <div class="table-responsive-md">
            <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dia</th>
                        <th scope="col">Hora apertura</th>
                        <th scope="col">Hora cierre</th>
                        <th scope="col">Intervalo minutos</th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Acciones</th>
                      </tr>
                </thead>
                <tbody>
                  <tr>
                      <th scope="row">i</th>
                      <td>nombreCompleto</td>
                      <td>email</td>
                      <td>email</td>
                      <td>email</td>
                      <td>email</td>
                      

                      <td class="text-center">

                          <button (click)="peticion=false" class="btn btn-warning mr-1" data-toggle="modal" data-target=".bd-example-modal-lg"
                          >
                            <i class="fa fa-pen"></i>
                
                          </button>
                
                          <button class="btn btn-danger"
                          >
                              <i class="fa fa-trash"></i>
                  
                            </button>
                
                        </td>
                  </tr>
                  
                </tbody>
            </table>
            
        </div>

        <div *ngIf="!cargando"
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    
</div>
  
  <div *ngIf=""
  class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>
  <div class="text-right">
      <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div><br>


  
        

  </form>

</div>