<br>
<div class="animated fadeIn m-5">
  <h1>Reserva: <small>Listado</small></h1>
  <hr>
</div>

<div class="container">
  <form class="item1">
    
     <div class="form-row">
       <!-- fecha de desde -->
     
       <div class="form-group col-md-6 mb-3 ">
          <label>Fecha desde</label>
          <input type="date" name="bday1" #fechaDesde [(ngModel)]="fechaDesde1"
           max="3000-12-31" min="1000-01-01" class="form-control">
        </div>
        <!-- fecha hasta  -->
        <div class="form-group col-md-6 mb-3">
            <label>Fecha de hasta</label>
            <input type="date" name="bday1" #fechaHasta [(ngModel)]="fechaHasta1"
             max="3000-12-31" min="1000-01-01" class="form-control">
          </div>



              <div class="form-group col-md-6 mb-3">
                  <label for="inputAddress">Empleado</label>
                  <input name="username"  [(ngModel)]="printEmpName" class="form-control" id="inputAddress" disabled>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                    Buscar...
                  </button>
                </div>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Empleados</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <br>
                     <!-- para mostar los empleados-->
              <table class="table table-hover table-sm">
                  <thead>
                    <tr class="table-info">
                      <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                      </th>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre y Apellido</th>
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emp of empleados; let i = index">
                      <th scope="row"><input (click)="setIdEmp(emp.idPersona); setNameEmp(emp.nombreCompleto)"
                          type="radio" id="defaultCheck"  name="example2"></th>
                      <td>{{ emp.idPersona }}</td>
                      <td>{{ emp.nombreCompleto }}</td>
  
                    </tr>
  
                  </tbody>
                </table>
  
                <br>
              </div>
              <div class="modal-footer">
                <button (click)="printNameEmpleado()"
                class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
              </div>
            </div>
          </div>
        </div>
  
           
      
            <!-- para buscar o crear cliente -->
            <div class="form-group col-md-6 mb-3">
                <label for="inputAddress2">Cliente</label>
                <input name="nameClient" [(ngModel)]="printNameCli" class="form-control" id="inputAddress2" disabled>
                <!-- Button trigger modal -->
                <div>
                    <button type="button" class="btn btn-link mr-1" data-toggle="modal" data-target="#myModal">
                        Buscar...
                      </button>
                      
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Clientes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="col-md-6 float-right">
                              <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                              <div class="input-group">
                                  <input  #nombreCliente 
                                  type="name" class="form-control"  id="inlineFormInputGroupUsername" placeholder="Ingrese nombre...">
                                <div class="input-group-prepend">
                                  <div (click)="buscarCliente(nombreCliente.value)" 
                                  class="btn btn-success"><i class="fa fa-search"></i></div>
                                </div>
                                
                              </div>
                            </div><br><br>
        
        
                        <!-- para buscar cliente por nombre  -->
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class=" table table-hover table-sm animated fadeIn fast faster  animated fadeIn faster">
                          <thead>
                            <tr class="table-info">
                              <th scope="col">#</th>
                              <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                              </th>
                              <th scope="col">ID</th>
                              <th scope="col">Nombre y Apellido</th>
        
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let cli of clientes ; let i = index">
                              <th scope="row">{{ i+1 }}</th>
                              <th><input (click)="setIdCli(cli.idPersona); setNombreCli(cli.nombreCompleto)"
                                  type="radio" id="defaultCheck" name="example2"></th>
                              <td>{{ cli.idPersona }}</td>
                              <td>{{ cli.nombreCompleto }}</td>
        
                            </tr>
        
                          </tbody>
                        </table>
                        <div *ngIf="clientes.length === 0"
                        class="alert alert-warning text-center mt-3 animated fadeIn faster">
                        <h4 class="alert-heading">No hay registros</h4>
                        <p>
                          <i class="fa fa-exclamation fa-2x"></i>
                        </p>
      
                      </div>
                      </div>
        
                       
                        
                        
        
        
        
        
                        <div class="modal-footer">
                          <!-- 3er div-->
                          <button (click)="printNameCliselect()"
                          class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
                        </div><!-- 3er div-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          
                   
            <div class="col text-right">
                <button (click)="buscarReservas(fechaDesde.value, fechaHasta.value)"
                class="save_button btn btn-success mr-1">
                  <i class="fa fa-search"></i> Buscar
          
                </button>
          
                <button  (click)="limpiarPantalla()"
                class="save_button btn btn-warning mr-1">
                  <i class="fa fa-broom"></i> Limpiar
          
                </button>
          
              </div>

    

    
      </form>
      <br>
  <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora inicio</th>
        <th scope="col">Hora fin</th>
        <th scope="col">Profesional</th>
        <th scope="col">Cliente</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reservas | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ r.fecha | date:'longDate' }}</td>
        <td>{{ r.horaInicio }}</td>
        <td>{{ r.horaFin }}</td>
        <td>{{r.idEmpleado.nombreCompleto }}</td>
        <td>{{ r.idCliente.nombreCompleto }}</td>
        <td class="text-center">
            <button class="btn btn-outline-danger mr-1" (click)="cancelarReserva(i)"
            >
            <i class="fas fa-times"></i>
  
            </button>
  
            <button (click)="getActualizar( r.idReserva )"
            class="btn btn-outline-warning mr-1" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fa fa-pen"></i>
              </button>

              <!-- Modal -->
              <button class="btn btn-outline-success mr-1"
            >
            <i class="fas fa-plus"></i> Ficha
    
              </button>
        </td>
       
      </tr>
    </tbody>
  </table>

  <div class="modal fade bd-example-modal-lg" id="penModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Actualizar reserva</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <table class="table table-bordered">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col">Datos reserva</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>
                          <div class="container">
                              <div class="item1">
                                  <br>
                                  <form>
                                      <div class="row">
                                        
                                        <div class="col">
                                      
                                          <label class="col-form-label col-form-label-sm">Fecha:</label>
                                          <input  type="text" [(ngModel)]="actualizarReserva.fecha" name="fecha"
                                          class="form-control form-control-sm"  disabled>
                                          <br>
                                          <label class="col-form-label col-form-label-sm">Hora inicio:</label>

                                          <input  type="text" [(ngModel)]="actualizarReserva.horaInicio" name="horaInicio"
                                          class="form-control form-control-sm" disabled><br>

                                          <label class="col-form-label col-form-label-sm">Hora fin:</label>

                                          <input type="text" [(ngModel)]="actualizarReserva.horaFin" name="horaFin"
                                          class="form-control form-control-sm" disabled><br>
                                          
                                          <label class="col-form-label col-form-label-sm">Profesional:</label>

                                          <input  [(ngModel)]="nombreProfesional" name="name"
                                          class="form-control form-control-sm" disabled><br>
                                          
                                            
                                        </div>
                                        <div class="col">
                                            <label class="col-form-label col-form-label-sm">Cliente:</label>

                                            <input [(ngModel)]="nameCli" name="nameCli"
                                            class="form-control form-control-sm" disabled><br>
                                          <!--Material textarea-->

                                          <!--Textarea with icon prefix-->
                                          <div class="md-form">
                                          <i class="fas fa-pencil-alt prefix"></i> Observacion:
                                          <textarea #obser  [(ngModel)]="obs" name="obs" 
                                           id="form10" class="md-textarea form-control" rows="3"  
                                          ></textarea>
                                         </div><br>
                                          
                                          
                                             
                                         <label class="col-form-label col-form-label-sm">Acudio a su turno?:</label>
                                         <button *ngIf="flagAsistio" (click)="flagAsistio = false"
                                         type="button" class="btn btn-outline-success  float-right w-50" ><i class="fas fa-hand-middle-finger"></i> Si</button>

                                         
                                         
                                            <button *ngIf="!flagAsistio" (click)="flagAsistio = true"
                                            type="button" class="btn btn-outline-danger  float-right w-50" ><i class="fas fa-poo"></i> No </button>

                                          
                                          
                                        </div>
                                        
                                      </div>
                                    </form>

                              </div>

                            </div>
                      </th>

                      
                    </tr>
                    
                  </tbody>
                </table>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button (click)="guargarActualizacion(obser.value)"
            type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  
  

  <div *ngIf="!cargando && reservas.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    
</div>
  
  <div *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>
  <div class="text-right">
      <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div>

  <br>
  <div class="col text-right" routerLinkActive="active">
    <button routerLink="/reserva/agregar-reserva" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar reserva
    </button>
  </div>
  <br><br>

</div>