.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    table { border-collapse: collapse; width: 100%; }
th, td {  padding: 8px 16px; }

    .tableFixHead {
        overflow: auto;
        height: 100px;
      }
      
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
      .save_button {
        min-width: 200px;
        max-width: 200px;
    }
    
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    