<br>
<div class="animated fadeIn m-5">
  <h1>Reserva: <small>crear nuevo</small></h1>
  <hr>
</div>

<div class="container">
  <form class="item1">
    
     <div class="form-row">
       <!-- fecha de desde -->
     
       <div class="form-group col-md-6 mb-3 ">
          <label>Fecha:</label>
          <input type="date" name="bday1" #fecha
           max="3000-12-31" min="1000-01-01" class="form-control">
        </div>
        <!-- mostar turnos -->
        <div class="form-group col-md-6 mb-3 ">
            <form class="was-validated text-right">
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                    <label class="custom-control-label" for="customControlValidation1">Mostrar ya reservados</label>
                    
                  </div>
            </form>
          </div>
        



              <div class="form-group col-md-6 mb-3">
                  <label for="inputAddress">Empleado</label>
                  <input name="username"  [(ngModel)]="printEmpName"
                  class="form-control" id="inputAddress" disabled>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                    Buscar...
                  </button>
                </div>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seleccionar Empleado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <br>
                      <!-- para mostar los empleados-->
               <table class="table table-hover table-sm">
                   <thead>
                     <tr class="table-info">
                       <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                       </th>
                       <th scope="col">ID</th>
                       <th scope="col">Nombre y Apellido</th>
   
                     </tr>
                   </thead>
                   <tbody>
                     <tr *ngFor="let emp of empleados; let i = index">
                       <th scope="row"><input (click)="setIdEmp(emp.idPersona); setNameEmp(emp.nombreCompleto)"
                           type="radio" id="defaultCheck"  name="example2"></th>
                       <td>{{ emp.idPersona }}</td>
                       <td>{{ emp.nombreCompleto }}</td>
   
                     </tr>
   
                   </tbody>
                 </table>
   
                 <br>
               </div>
               <div class="modal-footer">
                 <button (click)="printNameEmpleado()"
                 class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
               </div>
             </div>
           </div>
         </div>
           
     </div>
     <div class="col text-right">
        <button (click)="buscar(fecha.value)"
        class="save_button btn btn-success">
          <i class="fa fa-search"></i> Buscar
  
        </button>
  
      </div>

    
      </form>
      <br>
  <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
    <thead class="table-primary">
      <tr>
        <th>#</th>
        <th scope="col">Hora inicio</th>
        <th scope="col">Hora fin</th>
        <th scope="col">Cliente</th>
        <th scope="col">Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agenda of agendas | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ agenda.horaApertura }}</td>
        <td>{{ agenda.horaCierre }}</td>
        <td></td>
        <td class="text-center"> 
            <button 
            class="btn btn-outline-danger mr-1"
            >
            <i class="fas fa-times"></i> No reservado
  
            </button>
  
              <button 
              class="btn btn-outline-success" 
            >
            <i class="fas fa-check"></i> Reservado
    
              </button>
        </td>
       
      </tr>
      
    </tbody>
  </table>

  <div *ngIf="!cargando && agendas.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    
</div>
  
  <div *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>
  <div class="text-right">
      <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div>

  <br>
  <div class="form-row">
     <!-- para buscar o crear cliente -->
     <div class="form-group col-md-6 mb-3">
        <label for="inputAddress2">Cliente</label>
        <input name="nameClient" [(ngModel)]="printNameCli" class="form-control" id="inputAddress2" disabled>
        <!-- Button trigger modal -->
        <div>
            <button type="button" class="btn btn-link mr-1" data-toggle="modal" data-target="#myModal">
                Buscar...
              </button>
              
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="col-md-6 float-right">
                      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                      <div class="input-group">
                          <input  #nombreCliente 
                          type="name" class="form-control"  id="inlineFormInputGroupUsername" placeholder="Ingrese nombre...">
                        <div class="input-group-prepend">
                          <div (click)="buscarCliente(nombreCliente.value)" 
                          class="btn btn-success"><i class="fa fa-search"></i></div>
                        </div>
                        
                      </div>
                    </div><br><br>


                <!-- para buscar cliente por nombre  -->
                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class=" tableFixHead table table-hover table-sm animated fadeIn fast faster  animated fadeIn faster " 
                 >
                  <thead>
                    <tr class="table-info">
                      <th  class="th-sm" scope="col">#</th>
                      <th class="th-sm" scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                      </th>
                      <th class="th-sm" scope="col">ID</th>
                      <th class="th-sm" scope="col">Nombre y Apellido</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cli of clientes ; let j = index">
                      <th scope="row">{{ j+1 }}</th>
                      <th><input (click)="setIdCli(cli.idPersona); setNombreCli(cli.nombreCompleto)"
                          type="radio" id="defaultCheck" name="example2"></th>
                      <td>{{ cli.idPersona }}</td>
                      <td>{{ cli.nombreCompleto }}</td>

                    </tr>

                  </tbody>
                </table>
                </div>

                <div *ngIf="clientes.length === 0"
                  class="alert alert-warning text-center mt-3 animated fadeIn faster">
                  <h4 class="alert-heading">No hay registros</h4>
                  <p>
                    <i class="fa fa-exclamation fa-2x"></i>
                  </p>

                </div>
                <br>
                




                <div class="modal-footer">
                  <!-- 3er div-->
                  <button (click)="printNameCliselect()"
                  class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
                </div><!-- 3er div-->
              </div>
            </div>
          </div>
        </div>
      </div>
    
                

                
   <!-- observacion-->
   <div class="form-group col-md-6 mb-3">
      <label for="validationTextarea">Observacion</label>
      <input name="text"  class="form-control" id="inputAddress2" placeholder="Observacion de la consulta">
      
    </div>
  </div>
  <div class="col text-right">
    <button routerLink="/agregarReserva" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar reserva
    </button>
  </div>
  <br><br>


</div>