<br>
<div class="animated fadeIn m-5">
  <h1>Ficha Clinica: <small>crear nuevo</small></h1>
  <hr>


</div>


<div class="container">
  <form class="item1">



    <!-- buscar empleado  -->
    <div class="form-row">


      <div class="form-group col-md-6 mb-3">
        <label for="inputAddress">Empleado</label>
        <input name="username" [(ngModel)]="printedOption" class="form-control" id="inputAddress" disabled>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
          Buscar...
        </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Empleados</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <br>
              <!-- para mostar los empleados-->
              <table class="table table-hover table-sm">
                <thead>
                  <tr class="table-info">
                    <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                    </th>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre y Apellido</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let emp of empleados; let i = index">
                    <th scope="row"><input (click)="setIdEmp(emp.idPersona); printNombres(emp.nombreCompleto)"
                        type="radio" id="defaultCheck"  name="example2"></th>
                    <td>{{ emp.idPersona }}</td>
                    <td>{{ emp.nombreCompleto }}</td>

                  </tr>

                </tbody>
              </table>

              <br>
            </div>
            <div class="modal-footer">
              <button class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
            </div>
          </div>
        </div>
      </div>


      <!-- para buscar o crear cliente -->
      <div class="form-group col-md-6 mb-3">
        <label for="inputAddress2">Cliente</label>
        <input name="nameClient" [(ngModel)]="printedOptionName" class="form-control" id="inputAddress2" disabled>
        <!-- Button trigger modal -->
        <div>
          <button type="button" class="btn btn-link mr-1" data-toggle="modal" data-target="#myModal">
            Buscar...
          </button>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                  <div class="col-md-6 float-right">
                      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                      <div class="input-group">
                          <input  #nombreCliente 
                          type="name" class="form-control"  id="inlineFormInputGroupUsername" placeholder="Ingrese nombre...">
                        <div class="input-group-prepend">
                          <div (click)="buscarCliente(nombreCliente.value)" 
                          class="btn btn-success"><i class="fa fa-search"></i></div>
                        </div>
                        
                      </div>
                    </div><br><br>


                <!-- para buscar cliente por nombre  -->
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class=" tableFixHead table table-hover table-sm animated fadeIn fast faster  animated fadeIn faster">
                  <thead>
                    <tr class="table-info">
                      <th scope="col">#</th>
                      <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                      </th>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre y Apellido</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cli of clientes; let i = index">
                      <th scope="row">{{ i+1 }}</th>
                      <th><input (click)="setIdCli(cli.idPersona); printNombreCli(cli.nombreCompleto)"
                          type="radio" id="defaultCheck" name="example2"></th>
                      <td>{{ cli.idPersona }}</td>
                      <td>{{ cli.nombreCompleto }}</td>

                    </tr>

                  </tbody>
                </table>
                <div *ngIf="clientes.length === 0"
                  class="alert alert-warning text-center mt-3 animated fadeIn faster">
                  <h4 class="alert-heading">No hay registros</h4>
                  <p>
                    <i class="fa fa-exclamation fa-2x"></i>
                  </p>

                </div>
              </div>

                
                <br>
               




                <div class="modal-footer">
                  <!-- 3er div-->
                  <button (click)="restoreTabla()"
                  class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
                </div><!-- 3er div-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
        <!-- elegir categoria-->
          <div class="form-group col-md-6">
              <label for="inputState">Categoria</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#Modal1"><i class="fas fa-search"></i></span>
                    <!-- Modal categoria -->
                  
              <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Categorias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="table-wrapper-scroll-y my-custom-scrollbar">
                          <table class=" tableFixHead table table-striped table-sm animated fadeIn fast faster  animated fadeIn faster">
                            <thead>
                              <tr class="table-success">
                                <th scope="col">#</th>
                                <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                                </th>
                                <th scope="col">ID</th>
                                <th scope="col">Categoria</th>
              
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let cat of categorias ; let i = index">
                                <th scope="row">{{ i+1 }}</th>
                                <th><input (click)="setDetallesCat(cat.idCategoria, cat.descripcion ) "
                                    type="radio" id="defaultCheck" name="example2"></th>
                                <td>{{ cat.idCategoria }}</td>
                                <td>{{ cat.descripcion}}</td>
              
                              </tr>
              
                            </tbody>
                          </table>
                          <div *ngIf="clientes.length === 0"
                            class="alert alert-warning text-center mt-3 animated fadeIn faster">
                            <h4 class="alert-heading">No hay registros</h4>
                            <p>
                              <i class="fa fa-exclamation fa-2x"></i>
                            </p>
              
                          </div>
                        </div>
  
                  </div> <!-- 2do div-->
                  <div class="modal-footer"><!-- 3er div-->
                    <button (click)="printNameCatselect()"
                class="btn btn-outline-info btn-sm" data-dismiss="modal">Seleccionar</button>
                  </div><!-- 3er div-->
                </div>
              </div>
            </div>
      
                  </div>
                  <input name="textValue" type="text"  [(ngModel)]="pintCatSelect"
                  class="form-control" id="validationTooltipUsername" placeholder="Elegir Categoria..." aria-describedby="validationTooltipUsernamePrepend" disabled>
                </div>
            </div>
  
  
  
  
        
        <div class="form-group col-md-6">
          <label for="inputState">Subcategoria </label>
          <div class="input-group">
              <div class="input-group-prepend">
                <span type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal1"><i class="fas fa-search"></i></span>
                <!-- Modal Subcategoria -->
              
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Categoria:<small> {{ pintCatSelect }}</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
  
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <table class=" tableFixHead table table-striped table-sm animated fadeIn fast faster  animated fadeIn faster">
                        <thead>
                          <tr class="table-success">
                            <th scope="col">#</th>
                            <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                            </th>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo Producto</th>
          
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let subcat of subcategorias ; let i = index">
                            <th scope="row">{{ i+1 }}</th>
                            <th><input (click)="setDetallesSubCat(subcat.idTipoProducto, subcat.descripcion ) "
                                type="radio" id="defaultCheck" name="example2"></th>
                            <td>{{ subcat.idTipoProducto }}</td>
                            <td>{{ subcat.descripcion }}</td>
          
                          </tr>
          
                        </tbody>
                      </table>
                      <div *ngIf="subcategorias.length === 0"
                        class="alert alert-warning text-center mt-3 animated fadeIn faster">
                        <h4 class="alert-heading">No hay registros</h4>
                        <p>
                          <i class="fa fa-exclamation fa-2x"></i>
                        </p>
          
                      </div>
                    </div>
  
              </div> <!-- 2do div-->
              <div class="modal-footer"><!-- 3er div-->
                <button (click)="printNameSubselect()"
            class="btn btn-outline-info btn-sm" data-dismiss="modal">Seleccionar</button>
              </div><!-- 3er div-->
            </div>
          </div>
        </div>
  
              </div>
              <input name="subcategorias" type="text"  [(ngModel)]="printSubSelect"
              class="form-control" id="validationTooltipUsername" placeholder="Tipo producto" aria-describedby="validationTooltipUsernamePrepend" disabled>
            </div>
        </div>
      

    


    

      <!--guardar motivo-->

      <div class="was-validated col-md-6">
        <label for="validationTextarea">Motivo</label>
        <textarea #motivoConsulta class="form-control is-invalid" id="validationTextarea"
          placeholder="Motivo de la consulta..." required></textarea>

      </div>

      <!--guardar diagnostico-->

      <div class="was-validated col-md-6">
        <label for="validationTextarea">Diagnostico</label>
        <textarea #diagnostico class="form-control is-invalid" id="validationTextarea"
          placeholder="Diagnostico de la consulta..." required></textarea>

      </div>

      <!--guardar obsevacion-->

      <div class="was-validated col-md-6">
        <label for="validationTextarea">Obsevacion:</label>
        <textarea #observacion class="form-control is-invalid col-sm-10" id="validationTextarea"
          placeholder="Obsevacion de la consulta..." required></textarea>
      </div>

    </div>




    <!-- boton de regresar -->
    <div class="col text-right">
      <button (click)="guargarFicha(motivoConsulta.value,
           diagnostico.value, observacion.value )" class="save_button btn btn-success mr-1">
        <i class="far fa-save"></i>
        Guardar
      </button>

      <button routerLink="/ficha" class="save_button btn btn-danger mr-1">
        <i class="fa fa-arrow-left"></i>
        Cancelar
      </button>
    </div>
    <span>Servicios creados a partir de esta ficha</span><br><br>
    <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Presupuesto</th>
          <th scope="col">Acciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servicio of servicios | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ servicio.fechaHora | date:'longDate'}}</td>
          <td>{{ servicio.presupuesto }}</td>
          <td class="text-center">
            <button routerLink="/crear-modificar-servicio" class="btn btn-outline-info mr-1">
              <i class="far fa-eye"></i>

            </button>

            <button routerLink="/crear-modificar-servicio" class="btn btn-outline-warning">
              <i class="fa fa-pen"></i>

            </button>
          </td>
        </tr>


      </tbody>

    </table>
    








    <div *ngIf="!cargando && servicios.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">No hay registros</h4>
      <p>
        <i class="fa fa-exclamation fa-2x"></i>
      </p>

    </div>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
    </div>

    <div class="text-right">
        <pagination-controls (pageChange)="page=$event"></pagination-controls>
      </div>


    <br>
    <br>















  </form>



</div>