<br>
<div class="animated fadeIn m-5">
  <h1>Servicios: <small>crear nuevo</small></h1>
  <hr>
</div>
<!-- tabla  -->
<div class="container">

  <form class="item1">
    <div class="form-row">
      <div class="form-group col-md-6 ">
        <label>Fecha:</label>
        <input type="date" name="bday1" [(ngModel)]="fecha" #date1 max="3000-12-31" min="1000-01-01"
          class="form-control">
      </div>
      <div class="form-group col-md-6">

        <label><i class="fas fa-pencil-alt"></i> Observacion:</label>
        <input name="obervacion" [(ngModel)]="obser" #obserServicio class="form-control" id="inputAddress">

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Empleado</label>
        <input name="username" [(ngModel)]="nombreEmpleado" class="form-control" id="inputAddress" disabled>
      </div>



      <div class="form-group col-md-6">
        <label for="inputAddress2">Cliente</label>
        <input name="nameClient" [(ngModel)]=" nombreCliente" class="form-control" id="inputAddress2" disabled>

      </div>

    </div>



  </form>



  <br>
  
    <table class="fixed_header table-striped fadeIn fast faster  animated fadeIn faster">
      <thead>
        <tr>
          <td scope="col">#</td>
          <td scope="col">ID Ficha</td>
          <td scope="col">Categoria</td>
          <td scope="col">Subcategoria</td>
          <td scope="col">Acciones</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ficha of fichas; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ ficha.idFichaClinica }}</td>
          <td>{{ ficha.idTipoProducto.idCategoria.descripcion }}</td>
          <td>{{ ficha.idTipoProducto.descripcion }}</td>
          <td>

            <button *ngIf="ficha.seleccionar || !ficha.activar"
              (click)="ficha.seleccionar = false; mostarDatosFocha(i); ficha.activar = true "
              class="btn btn-outline-success w-100">
              <i class="fas fa-check"></i> Seleccionar
            </button>

            <button *ngIf="!ficha.seleccionar  " (click)="ficha.seleccionar = true;  clear(); ficha.activar = false"
              class="btn btn-outline-danger w-100">
              <i class="fas fa-times"></i> Deseleccionar
            </button>

          </td>
        </tr>
        <div *ngIf="!cargando && fichas.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">No hay registros</h4>
          <p>
            <i class="fa fa-exclamation fa-2x"></i>
          </p>
    
        </div>
    
        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </div>
    

      </tbody>
    </table>

    
  
  <br>
  <div class="col text-right">
    <button (click)="agregarServicio(obserServicio.value)" class="btn btn-success save_button">
      <i class="far fa-save"></i>
      Guardar
    </button>
  </div>

  <h3><small>Detalles</small></h3>
  <hr>

  <div class="form-row">
    <!--elegir categoria-->
    <div class="form-group col-md-6">
      <label for="inputState">Categoria</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#Modal1"><i
              class="fas fa-search"></i></span>
          <!-- Modal categoria-->

          <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Categorias</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table
                      class="table table-striped table-sm animated fadeIn fast faster  animated fadeIn faster">
                      <thead>
                        <tr class="table-success">
                          <th scope="col">#</th>
                          <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                          </th>
                          <th scope="col">ID</th>
                          <th scope="col">Categoria</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cat of categorias ; let i = index">
                          <th scope="row">{{ i+1 }}</th>
                          <th><input (click)="setDetallesCat(cat.idCategoria, cat.descripcion ) " type="radio"
                              id="defaultCheck" name="example2"></th>
                          <td>{{ cat.idCategoria }}</td>
                          <td>{{ cat.descripcion}}</td>

                        </tr>

                      </tbody>
                    </table>
                    <div *ngIf="categorias.length === 0"
                      class="alert alert-warning text-center mt-3 animated fadeIn faster">
                      <h4 class="alert-heading">No hay registros</h4>
                      <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                      </p>

                    </div>
                  </div>

                </div> <!-- 2do div-->
                <div class="modal-footer">
                  <!-- 3er div-->
                  <button (click)="printNameCatselect()" class="btn btn-outline-info btn-sm"
                    data-dismiss="modal">Seleccionar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <input name="textValue" type="text" [(ngModel)]="pintCatSelect" class="form-control"
          id="validationTooltipUsername" placeholder="Elegir Categoria..."
          aria-describedby="validationTooltipUsernamePrepend" disabled>
      </div>
    </div>





    <div class="form-group col-md-6">
      <label for="inputState">Subcategoria </label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal3"><i
              class="fas fa-search"></i></span>
          <!-- Modal Subcategoria -->

          <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Categoria:<small> {{ pintCatSelect }}</small></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  
                    <table class="table table-sm animated fadeIn fast faster  animated fadeIn faster">
                      <thead>
                        <tr class="table-success">
                          <th scope="col">#</th>
                          <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                          </th>
                          <th scope="col">ID</th>
                          <th scope="col">Tipo Producto</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let subcat of subcategorias ; let i = index">
                          <th scope="row">{{ i+1 }}</th>
                          <th><input (click)="setDetallesSubCat(subcat.idTipoProducto, subcat.descripcion ) "
                              type="radio" id="defaultCheck" name="example2"></th>
                          <td>{{ subcat.idTipoProducto }}</td>
                          <td>{{ subcat.descripcion }}</td>

                        </tr>

                      </tbody>
                      
                    </table>

                    <div *ngIf="subcategorias.length === 0"
                      class="alert alert-warning text-center mt-3 animated fadeIn faster">
                      <h4 class="alert-heading">No hay registros</h4>
                      <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                      </p>

                    </div>

                   

                  

                </div> <!-- 2do div-->
                <div class="modal-footer">
                  <!-- 3er div-->
                  <button (click)="printNameSubselect()" class="btn btn-outline-info btn-sm"
                    data-dismiss="modal">Seleccionar</button>
                </div><!-- 3er div-->
              </div>
            </div>
          </div>

        </div>
        <input name="subcategorias" type="text" [(ngModel)]="printSubSelect" class="form-control"
          id="validationTooltipUsername" placeholder="Tipo producto" aria-describedby="validationTooltipUsernamePrepend"
          disabled>
      </div>
    </div>
  </div>

  <!--tipo de presentacion-->
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputState">Tipo de servicio</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#Modal2"><i
              class="fas fa-search"></i></span>


          <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Tipo servicio (presentacion)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="table">
                    <table
                      class=" tableFixHead table table-striped table-sm animated fadeIn fast faster  animated fadeIn faster">
                      <thead>
                        <tr class="table-success">
                          <th scope="col">#</th>
                          <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                          </th>
                          <th scope="col">ID</th>
                          <th scope="col">Tipo Presentacion</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pres of presentacion ; let i = index">
                          <th scope="row">{{ i+1 }}</th>
                          <th><input (click)="setDetallesPres(pres.existenciaProducto.precioVenta ) " type="radio"
                              id="defaultCheck" name="example2"></th>
                          <td>{{ pres.idPresentacionProducto }}</td>
                          <td>{{ pres.descripcion}}</td>

                        </tr>

                      </tbody>
                    </table>
                    <div *ngIf="presentacion.length == 0"
                      class="alert alert-warning text-center mt-3 animated fadeIn faster">
                      <h4 class="alert-heading">No hay registros</h4>
                      <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                      </p>

                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button (click)="printNameCatselect()" class="btn btn-outline-info btn-sm"
                    data-dismiss="modal">Seleccionar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <input name="textValue" type="text" [(ngModel)]="pintCatSelect" class="form-control"
          id="validationTooltipUsername" placeholder="Presentacion" aria-describedby="validationTooltipUsernamePrepend"
          disabled>
      </div>

    </div>

    <div class="form-group col-md-6">

      <label><i class="fas fa-dollar-sign"></i> Precio:</label>
      <input name="precio" [(ngModel)]="precio" class="form-control" id="inputAddress" disabled>

    </div>



  </div>



  <br>
  <form class="form-inline">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Cantidad:</label>
    <input #cant name="number" [(ngModel)]="cantidad" 
    type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="">


  </form>

  <div class="col text-right">
    <button class="save_button btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar detalle
    </button>
  </div> <br>
  <!-- presentacion de servicio-->

  
    <table class="fixed_header animated fadeIn fast faster  animated fadeIn faster">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID Detalle</th>
          <th scope="col">Presentacion</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Cantidad</th>
          <th scope="col">total</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ficha of fichas ; let i = index">
          <th scope="row">{{ i+ 1 }}</th>
          <th>{{ficha.idFichaClinica}}</th>
          <th>{{ ficha.idTipoProducto.idCategoria.descripcion}}</th>
          <td>{{ ficha.idTipoProducto.descripcion}}</td>
          <td class="text-center">
            <button routerLink="/crear-modificar-servicio" class="btn btn-outline-info mr-1">
              <i class="fas fa-eye"></i>
            </button>

            <button routerLink="/crear-modificar-servicio" class="btn btn-outline-warning">
              <i class="fas fa-pen"></i>
            </button>
          </td>

        </tr>
        <div *ngIf="!cargando && fichas.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">No hay registros</h4>
          <p>
            <i class="fa fa-exclamation fa-2x"></i>
          </p>
    
        </div>
    
        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </div>
      </tbody>
    </table>

    

  
  <br>
  

  <div class="col text-right">
    <button routerLink="/servicios" class="save_button btn btn-danger">
      <i class="fas fa-arrow-left"></i>
      Cancelar
    </button>
  </div>










  <br><br>
</div>