<br>
<div class="animated fadeIn m-5">
  <h1>Ficha Clinica: <small>Listado</small></h1>
  <hr>
</div>
<!-- tabla  -->
<div class="container">

  <form class="item1">
    <div class="form-row">
      <div class="form-group col-md-6 ">
        <label>Fecha desde</label>
        <input type="date" name="bday1" [(ngModel)]="fechaDesde1" #date1
         max="3000-12-31" min="1000-01-01" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Fecha hasta</label>
        <input type="date" name="bday2" [(ngModel)]="fechaHasta1" #date2
        max="3000-12-31" min="1000-01-01" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Empleado</label>
        <input name="username" [(ngModel)]="printEmpName" class="form-control" id="inputAddress" disabled>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
          Buscar...
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Empleados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <br>
                <!-- para mostar los empleados-->

                <table class="table table-hover table-sm">
                  <thead>
                    <tr class="table-info">
                      <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                      </th>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre y Apellido</th>
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emp of empleados; let i = index">
                      <th scope="row"><input (click)="setIdEmp(emp.idPersona); setNameEmp(emp.nombreCompleto)"
                          type="radio" id="defaultCheck"  name="example2"></th>
                      <td>{{ emp.idPersona }}</td>
                      <td>{{ emp.nombreCompleto }}</td>
  
                    </tr>
  
                  </tbody>
                </table>
  
                <br>
              </div>
              <div class="modal-footer">
                <button (click)="printNameEmpleado()"
                class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
                



      <div class="form-group col-md-6">
        <label for="inputAddress2">Cliente</label>
        <input name="nameClient" [(ngModel)]=" printNameCli" class="form-control" id="inputAddress2" disabled>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
          Buscar...
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="col-md-6 float-right">
                  <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                  <div class="input-group">
                      <input  #nombreCliente 
                      type="name" class="form-control"  id="inlineFormInputGroupUsername" placeholder="Ingrese nombre...">
                    <div class="input-group-prepend">
                      <div (click)="buscarCliente(nombreCliente.value)" 
                      class="btn btn-success"><i class="fa fa-search"></i></div>
                    </div>
                    
                  </div>
                </div><br><br>


            <!-- para buscar cliente por nombre  -->
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class=" tableFixHead table table-hover table-sm animated fadeIn fast faster  animated fadeIn faster">
              <thead>
                <tr class="table-info">
                  <th scope="col">#</th>
                  <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                  </th>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre y Apellido</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cli of clientes ; let i = index">
                  <th scope="row">{{ i+1 }}</th>
                  <th><input (click)="setIdCli(cli.idPersona); setNombreCli(cli.nombreCompleto)"
                      type="radio" id="defaultCheck" name="example2"></th>
                  <td>{{ cli.idPersona }}</td>
                  <td>{{ cli.nombreCompleto }}</td>

                </tr>

              </tbody>
            </table>
            <div *ngIf="clientes.length === 0"
              class="alert alert-warning text-center mt-3 animated fadeIn faster">
              <h4 class="alert-heading">No hay registros</h4>
              <p>
                <i class="fa fa-exclamation fa-2x"></i>
              </p>

            </div>
          </div>

            
            
            <div class="modal-footer">
              <!-- 3er div-->
              <button (click)="printNameCliselect()"
              class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Seleccionar</button>
            </div><!-- 3er div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










      
    <div class="form-row">
      <!-- elegir categoria-->
        <div class="form-group col-md-6">
            <label for="inputState">Categoria</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#Modal1"><i class="fas fa-search"></i></span>
                  <!-- Modal categoria -->
                
            <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Categorias</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class=" tableFixHead table table-striped table-sm animated fadeIn fast faster  animated fadeIn faster">
                          <thead>
                            <tr class="table-success">
                              <th scope="col">#</th>
                              <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                              </th>
                              <th scope="col">ID</th>
                              <th scope="col">Categoria</th>
            
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let cat of categorias ; let i = index">
                              <th scope="row">{{ i+1 }}</th>
                              <th><input (click)="setDetallesCat(cat.idCategoria, cat.descripcion ) "
                                  type="radio" id="defaultCheck" name="example2"></th>
                              <td>{{ cat.idCategoria }}</td>
                              <td>{{ cat.descripcion}}</td>
            
                            </tr>
            
                          </tbody>
                        </table>
                        <div *ngIf="clientes.length === 0"
                          class="alert alert-warning text-center mt-3 animated fadeIn faster">
                          <h4 class="alert-heading">No hay registros</h4>
                          <p>
                            <i class="fa fa-exclamation fa-2x"></i>
                          </p>
            
                        </div>
                      </div>

                </div> <!-- 2do div-->
                <div class="modal-footer"><!-- 3er div-->
                  <button (click)="printNameCatselect()"
              class="btn btn-outline-info btn-sm" data-dismiss="modal">Seleccionar</button>
                </div><!-- 3er div-->
              </div>
            </div>
          </div>
    
                </div>
                <input name="textValue" type="text"  [(ngModel)]="pintCatSelect"
                class="form-control" id="validationTooltipUsername" placeholder="Elegir Categoria..." aria-describedby="validationTooltipUsernamePrepend" disabled>
              </div>
          </div>




      
      <div class="form-group col-md-6">
        <label for="inputState">Subcategoria </label>
        <div class="input-group">
            <div class="input-group-prepend">
              <span type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal1"><i class="fas fa-search"></i></span>
              <!-- Modal Subcategoria -->
            
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Categoria:<small> {{ pintCatSelect }}</small></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class=" tableFixHead table table-striped table-sm animated fadeIn fast faster  animated fadeIn faster">
                      <thead>
                        <tr class="table-success">
                          <th scope="col">#</th>
                          <th scope="col"><input type="radio" id="defaultCheck" name="example2" disabled>
                          </th>
                          <th scope="col">ID</th>
                          <th scope="col">Tipo Producto</th>
        
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let subcat of subcategorias ; let i = index">
                          <th scope="row">{{ i+1 }}</th>
                          <th><input (click)="setDetallesSubCat(subcat.idTipoProducto, subcat.descripcion ) "
                              type="radio" id="defaultCheck" name="example2"></th>
                          <td>{{ subcat.idTipoProducto }}</td>
                          <td>{{ subcat.descripcion }}</td>
        
                        </tr>
        
                      </tbody>
                    </table>
                    <div *ngIf="subcategorias.length === 0"
                      class="alert alert-warning text-center mt-3 animated fadeIn faster">
                      <h4 class="alert-heading">No hay registros</h4>
                      <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                      </p>
        
                    </div>
                  </div>

            </div> <!-- 2do div-->
            <div class="modal-footer"><!-- 3er div-->
              <button (click)="printNameSubselect()"
          class="btn btn-outline-info btn-sm" data-dismiss="modal">Seleccionar</button>
            </div><!-- 3er div-->
          </div>
        </div>
      </div>

            </div>
            <input name="subcategorias" type="text"  [(ngModel)]="printSubSelect"
            class="form-control" id="validationTooltipUsername" placeholder="Tipo producto" aria-describedby="validationTooltipUsernamePrepend" disabled>
          </div>
      </div>
    </div>

    <div class="col text-right">
      <button (click)="buscar(date1.value, date2.value)"
      class="save_button btn btn-success mr-1">
        <i class="fa fa-search"></i> Buscar

      </button>

      <button  (click)="limpiarPantalla()"
      class="save_button btn btn-warning mr-1">
        <i class="fa fa-broom"></i> Limpiar

      </button>

    </div>






  </form>



  <br>
  <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
    <thead class="table-primary">
      <tr>
          <th scope="col">#</th>
 
        <th scope="col">Fecha</th>
        <th scope="col">Profesional</th>
        <th scope="col">Cliente</th>
        <th scope="col">Categoria</th>
        <th scope="col">Subcategoría</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ficha of fichas | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
        <th scope="row">{{ i+ 1 }}</th>
        <td>{{ ficha.fechaHora | date:'longDate' }}</td>
        <td>{{ ficha.idEmpleado.nombreCompleto }}</td>
        <td>{{ ficha.idCliente.nombreCompleto }}</td>
        <td>{{ ficha.idTipoProducto.idCategoria.descripcion }}</td>
        <td>{{ ficha.idTipoProducto.descripcion }}</td>
        <td class="text-center">
            <button  routerLink="/crear-modificar-servicio"
            class="btn btn-outline-success">
            <i class="fas fa-plus"></i> Crear Servicio
    
              </button>
        </td>
       
      </tr>
    </tbody>
  </table>

  <div *ngIf="!cargando && fichas.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    
</div>
  
  <div *ngIf="cargando"
 class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>

  <br>
  <div class="text-right">
      <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div><br>
  <div class="col text-right" routerLinkActive="active">
    <button routerLink="/ficha/agregar-ficha" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar ficha
    </button>
  </div>
  <br><br>
</div>









<!--<h1>Text ({{textValue}})</h1>
<input #textbox type="text" [(ngModel)]="textValue" required>
<button (click)="logText(textbox.value)">Update Log</button>
<button (click)="textValue=''">Clear</button>-->






<!--<div class="container"></div>

  <div class="row">


    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
      
        <button  type="button" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Agregar ficha
        </button>

        <button type="button" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Agregar ficha
        </button>


      





    </form>

  </div>

</div>


























<div class="container">
  <div class="row m-2 ">





































































    <!-- categoria 
    <div class="col-lg-6 ">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Categoría" aria-label="Text input with dropdown button">
        <div class="input-group-append">
          <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></button>
          <div class="dropdown-menu">

            <ul *ngFor="let cat of categorias">
              <li>

                <option class="dropdown-item">{{ cat }}</option>
              </li>
            </ul>



          </div>
        </div>
      </div>
    </div>





















    <br>
    <div class="table-responsive">
      <table class="table animated fadeIn fast faster  animated fadeIn faster">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Profesional</th>
            <th scope="col">Cliente</th>
            <th scope="col">Categoría</th>
            <th scope="col">Subcategoría</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categorias; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ cat }}</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

      <div class="alert alert-warning text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
          <i class="fa fa-exclamation fa-2x"></i>
        </p>

      </div>

      <div class="alert alert-info text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">Cargando</h4>
        <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
          Espere por favor
        </p>
      </div>


      <div class="col text-right">
        <button routerLink="/heroe/nuevo" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Agregar ficha
        </button>
      </div>


    </div>

  </div>

  -->