* {box-sizing: border-box;}




.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: 
    ". a a ."
    ". a a.";
    

}
.item1 {
  grid-area: a;
  align-self: center;
  justify-self: center;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

  

 .tableFixHead {
      overflow: auto;
      height: 100px;
    }
    
    .tableFixHead thead th {
      position: sticky;
      top: 0;
    }

    .save_button {
      min-width: 200px;
      max-width: 200px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }