<br>
<div class="animated fadeIn m-5">
  <h1>Pacientes:</h1>
  <hr>
</div>

<div class="container">
  <form class="item1">
    <!--- busqueda de clientes-->
    <div class="col-md-6">
        <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group">
            <input  #nombreCliente
            type="name" class="form-control" id="inlineFormInputGroupUsername" placeholder="Ingrese nombre...">
          <div class="input-group-prepend">
            <div (click)="buscarCliente(nombreCliente.value)"
            class="btn btn-outline-primary"><i class="fa fa-search"></i></div>
          </div>
          <div class="input-group-prepend">
              <div (click)="restoreTabla()"
              class="btn btn-outline-secondary"><i class="fa fa-sync-alt"></i></div>
            </div>
        </div>
      </div>
      <br>
      
      <!-- agregar clientes -->
     
        <button (click)="peticion=true" type="button" class="save_button btn btn-success float-right" data-toggle="modal" data-target=".bd-example-modal-lg">
            <i class="fa fa-plus"></i> Agregar
          </button>
          
          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualizar cliente</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <table class="table table-bordered">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Datos cliente</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td>
                                  <div class="container">
                                    <div class="item1">
                                        <br>
                                        <form>
                                            <div class="row">
                                              
                                              <div class="col">
                                            
                                                  
                                                
                        
                                                <input name="cedula" type="text" [(ngModel)]="dataUpdate.cedula"  #cedula 
                                                class="form-control form-control-sm" placeholder="Cedula"><br>
                                                <input name="ruc" type="text" #ruc [(ngModel)]="dataUpdate.ruc"
                                                class="form-control form-control-sm" placeholder="Ruc"><br>
                                                <input name="telefono" type="text" #telefono [(ngModel)]="dataUpdate.telefono"
                                                class="form-control form-control-sm" placeholder="Telefono"><br>
                                                

                                                <input name="tipoPersona" type="text" #tipoPersona [(ngModel)]="dataUpdate.tipoPersona"
                                                class="form-control form-control-sm" placeholder="Tipo persona"><br>
                                              </div>
                                              <div class="col">
                                                <input name="name" type="name" #nombre [(ngModel)]="dataUpdate.nombre"
                                                 class="form-control form-control-sm" placeholder="Nombre"><br>
                                                <input name="lastname" type="name" #apellido [(ngModel)]="dataUpdate.apellido"
                                                class="form-control form-control-sm" placeholder="Apellido"><br>
                                                
                                                <label class="col-form-label col-form-label-sm">Fecha de nacimiento</label>
                                                 <input  name="date" type="date" name="bday1"  #fechaNacimiento [(ngModel)]="dataUpdate.fechaNacimiento"
                                                  max="3000-12-31" min="1000-01-01" class="form-control form-control-sm"><br>
                                                   

                                                <input name ="email" type="email" #email [(ngModel)]="dataUpdate.email"
                                                 class="form-control form-control-sm" placeholder="Email"><br>
                                              </div>
                                              
                                            </div>
                                          </form>

                                    </div>

                                  </div>
                                </td>

                              </tr>
                          </tbody>
                    </table>
                  </div>
                </div>
                  
                        
                      
                    

                  
                </div>
                <div class="modal-footer">
                  <button (click)="inicializar()"
                  type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                  <button (click)="guardarCliente(
                                  cedula.value, ruc.value, telefono.value, tipoPersona.value
                                  ,nombre.value, apellido.value, fechaNacimiento.value, email.value)"
                  type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                </div>
              </div>
            </div>
          </div>


     <br>

       
        <br>
        <div class="table-responsive-md">
            <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Tipo Cliente</th>
                        <th scope="col">Acciones</th>
                      </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cli of clientes | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
                      <th scope="row">{{ i+1 }}</th>
                      <td>{{ cli.nombreCompleto }}</td>
                      <td>{{ cli.email }}</td>
                      <td>{{ cli.telefono }}</td>
                      <td>{{ cli.tipoCliente }}</td>

                      <td class="text-center">

                          <button (click)="peticion=false" class="btn btn-warning mr-1" data-toggle="modal" data-target=".bd-example-modal-lg"
                          (click)="actualizar(i)">
                            <i class="fa fa-pen"></i>
                
                          </button>
                
                          <button class="btn btn-danger"
                          (click)="borrar(i)">
                              <i class="fa fa-trash"></i>
                  
                            </button>
                
                        </td>
                  </tr>
                  
                </tbody>
            </table>
            
        </div>

        <div *ngIf="!cargando && clientes.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    
</div>
  
  <div *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>
  <div class="text-right">
      <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div><br>


  
        

  </form>

</div>
