
<nav  *ngIf="isLoggedIn$ | async as isLoggedIn"
class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="">
        <img src="assets/images/medical-icon-png-1.jpg" width="30" height="30" alt="">  Dr House</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

         <!-- <li class="nav-item dropdown" routerLinkActive="active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administracion
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['administracion/categoria']">Categoria</a>
                <a class="dropdown-item" [routerLink]="['administracion/subcategoria']">Subcategoria</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['administracion/presentacionProducto']">Presentacion Producto</a>
              </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Empleado
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['empleado/horario-atencion']">Horario atencion</a>
                  <a class="dropdown-item" [routerLink]="['empleado/horario-exepcion']">Horario excepcion</a>
                  </div>
              </li>-->

                   
          
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['ficha']">Ficha Clínica</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['pacientes']">Pacientes</a>
        </li>
        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['reserva']">Reservas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['servicios']">Servicios</a>
        </li>
       
        

      </ul>
     
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i> {{ auth.getUsername() }} </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" 
                aria-labelledby="navbarDropdownMenuLink-4">
                  <a class="dropdown-item"  
                  (click)="salir()" *ngIf="isLoggedIn">
                  Cerrar Sesión</a>
                  
                </div>
              </li>
        </ul>
        </div>
         <!--<button class="btn btn-outline-info my-2 my-sm-0" (click)="salir()" *ngIf="isLoggedIn">
              <i class="fas fa-user"></i>  Cerrar Sesión</button>-->
     
    </div>
  </nav>

  